body {
  background: white;
}
div#credits-container {
  position: absolute;
  width: 200px;
  height: auto;
  top: 10px;
  left: 10px;
}
div#credits-container div.credits-row {
  display: block;
  text-align: center;
}
div#credits-container div.credits-row.medium {
  height: 30px;
}
div#credits-container div.credits-row.medium a.credits-text {
  font-size: 18px;
}
div#credits-container div.credits-row.large {
  height: 60px;
}
div#credits-container div.credits-row.large a.credits-text {
  font-size: 36px;
  text-decoration: none;
}
div#credits-container div.credits-row a.credits-text {
  font-family: Arial;
  color: black;
}
div#examiner-container .examinerbg {
  /*border-radius: 20px;*/
  position: absolute;
  pointer-events: none;
  background-color: white;
  border: 1px solid;
  border-color: black;
}
div#examiner-container .examinerdiv {
  position: absolute;
  pointer-events: none;
}
div#examiner-container .examinertext1 {
  position: absolute;
  pointer-events: none;
  font-family: Arial;
  font-size: 18px;
  padding: 2px;
  color: black;
  left: 4px;
}
div#examiner-container .examinertext2 {
  position: absolute;
  pointer-events: none;
  font-family: Arial;
  font-size: 18px;
  padding: 2px;
  color: black;
  left: 4px;
}
div#forcedebug-container {
  min-width: 600px;
}
div#forcedebug-container label.forcedebuglabel {
  text-align: center;
  display: inline-block;
  font-family: Arial;
  font-size: 18px;
  color: black;
}
div#forcedebug-container input.forcedebugslider {
  font-size: 12px;
  box-sizing: border-box;
}
g#sides-container text {
  font-size: 18px;
  font-family: Arial;
}
g#sides-container .blitX rect,
g#sides-container .blitY rect,
g#sides-container .blitX text,
g#sides-container .blitY text {
  fill: black;
}
g#sides-container .axesticks {
  stroke: none;
}
g#sides-container .axesgridlines {
  stroke: none;
  fill: black;
}
g#sides-container .axeslabels {
  font-family: Arial;
  font-size: 18px;
  text-anchor: middle;
  dominant-baseline: central;
}
g#sides-container .axesbars {
  fill: white;
  stroke: gainsboro;
  stroke-width: 2px;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
g#sides-container .axesbars:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
g#sides-container .axisbar {
  fill: black;
}
div#viewmenu-container select.viewmenu {
  font-size: 18px;
  position: absolute;
  border: 0;
  color: black;
  background-color: white;
}
.notselected {
  fill: white;
}
.selected {
  fill: #b31b1b !important;
}
.time {
  fill: darkorange !important;
}
.references {
  fill: #68645b !important;
}
.citing {
  fill: lightgray !important;
}
.linklines {
  pointer-events: none;
  stroke: gainsboro;
  stroke-width: 2px;
}
.linklines.references {
  pointer-events: none;
  stroke: #68645b;
  stroke-width: 3px;
}
.linklines.citing {
  pointer-events: none;
  stroke: lightgray;
  stroke-width: 3px;
}
.nodecircles {
  cursor: pointer;
  stroke: black;
  stroke-width: 2px;
}
.menus {
  stroke: black;
  stroke-width: 2px;
  cursor: pointer;
}
.planes {
  cursor: pointer;
  stroke: none;
}
.planeborder {
  fill: black;
}
.iconbase {
  cursor: pointer;
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
.symbol {
  cursor: pointer;
  fill: black;
  stroke: black;
  stroke-width: 2px;
}
.symbol.inverted {
  fill: white;
}
.arxivtext {
  cursor: pointer;
  text-anchor: start;
  font-size: 18px;
  dominant-baseline: central;
  font-family: Arial;
  text-decoration: underline;
  fill: -webkit-link;
}
.blanked {
  fill: #68645b;
  stroke: none;
}
.svgbg {
  fill: white;
}
.stagebg {
  fill: white;
}
.sidesbg {
  fill: white;
}
.collapsed {
  stroke: black;
  stroke-width: 2px;
  cursor: default;
}
.loading {
  opacity: 1;
}
.loadingtext {
  pointer-events: none;
  dominant-baseline: central;
  /*text-anchor: end;*/
  font-size: 29px;
  font-family: Arial;
  opacity: 1;
  fill: white;
}
.loadingrect {
  pointer-events: none;
  fill: black;
  opacity: 1;
}
.helptext {
  pointer-events: none;
  text-anchor: start;
  dominant-baseline: central;
  font-size: 18px;
  font-family: Arial;
  fill: black;
}
.vampclock {
  pointer-events: none;
  text-anchor: end;
  dominant-baseline: central;
  font-size: 29px;
  font-family: Arial;
  fill: black;
}
.vamprect {
  pointer-events: none;
  cursor: wait;
}
